[run]
omit =
    config/ldap_config.py
    config/settings.py
    config/wsgi.py
    api/apps.py
    api/permissions.py
    api/migrations/*
    api/pyapi.py
    api/utils/output/*
    tests/*
    manage.py
    setup.py
    bin/__init__.py
[report]
exclude_lines =
    pragma: no cover
    except PepperException as e:
