[run]
omit =
    backend/config/settings.py
    backend/api/apps.py
    backend/api/migrations/*
    backend/tests/*
    backend/api/backend/pyapi.py
    backend/config/wsgi.py
    backend/manage.py
    backend/api/utils/output/*
