# alcali_backend can be set to netapi or pyapi.
ALCALI_BACKEND=netapi

# Database
DB_BACKEND=mysql
DB_NAME=salt
DB_USER=alcali
DB_PASS=alcali
DB_HOST=db
DB_PORT=3306

# Django
DJANGO_DEBUG=true
DJANGO_SECRET=thisisnotagoodsecret.orisit?
ALLOWED_HOSTS=*
DJANGO_SETTINGS=alcali.config.settings.dev

# Salt
MASTER_MINION_ID=master

# Salt API
SALT_USER=admin
SALT_PASS=testytest
SALT_HOST=master
SALT_PORT=8080
SALT_AUTH=alcali
