MASTER_MINION_ID=master1,master2

# DB
DB_BACKEND=mysql
DB_NAME=alcali
DB_USER=alcali
DB_PASS=alcali
DB_HOST=db
DB_PORT=3306

DB_BACKEND_0=mysql
DB_NAME_0=salt
DB_USER_0=alcali
DB_PASS_0=alcali
DB_HOST_0=db1
DB_PORT_0=3306

DB_BACKEND_1=mysql
DB_NAME_1=salt
DB_USER_1=alcali
DB_PASS_1=alcali
DB_HOST_1=db2
DB_PORT_1=3306

# django
SECRET_KEY=thisisnotagoodsecret.orisit?
ALLOWED_HOSTS=*

# salt-api
SALT_URL=https://master1:8081,https://master2:8082
SALT_AUTH=rest
DJANGO_DEBUG=true