MASTER_MINION_ID=master

# DB
DB_BACKEND=mysql
DB_NAME=salt
DB_USER=alcali
DB_PASS=alcali
DB_HOST=db
DB_PORT=3306

# django
SECRET_KEY=thisisnotagoodsecret.orisit?
ALLOWED_HOSTS=*

# salt-api
SALT_URL=http://master:8080
SALT_AUTH=alcali
