textarea {
    background-color: #e9e9e9;
    font-variant-ligatures: contextual;
}

.inverted {
    filter: invert(100%);
}

/* adminBSB bug */
.dataTables_wrapper {
    width: 98%;
}

/* FAB */
.round {
    border-radius: 50%;
}

.fab {
    transition: all 300ms ease-in-out;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 2em;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.fab i {
    transition: all 300ms ease-in-out;
    will-change: transform;
}

.inner-fabs .fab {
    width: 40px;
    height: 40px;
    right: 38px;
    bottom: 23px;
    font-size: 1.5em;
    will-change: bottom;
}

.inner-fabs.show .fab:nth-child(1) {
    bottom: 80px;
}

.inner-fabs.show .fab:nth-child(2) {
    bottom: 130px;
}

.inner-fabs.show .fab:nth-child(3) {
    bottom: 180px;
}

.inner-fabs.show .fab:nth-child(4) {
    bottom: 230px;
}

.inner-fabs.show .fab:nth-child(5) {
    bottom: 280px;
}

.inner-fabs.show .fab:nth-child(6) {
    bottom: 330px;
}

.inner-fabs.show + .fab i {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.fab:before {
    content: attr(data-tooltip);
    transition: opacity 150ms cubic-bezier(0.4, 0, 1, 1);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #ececec;
    right: 50px;
    top: 25%;
    background-color: rgba(70, 70, 70, 0.9);
    font-size: 0.5em;
    line-height: 1em;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    padding: 6px 8px;
    max-width: 200px;
    font-weight: bold;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.inner-fabs.show .fab:hover:before {
    content: attr(data-tooltip);
    visibility: visible;
    opacity: 1;
}

.rotate {
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Ansi to html */
.ansi2html-content {
    background-color: transparent !important;
    border: none !important;
    font-size: medium !important;
    color: white;
}

.ansi40 {
    background-color: transparent !important;
}

.ansiStyle {
    background-color: #181723;
    padding: 10px;
}
/* cron selector */
.cronselector {
    border-bottom: none !important;
}