{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link href="{% static "flatpickr/dist/flatpickr.min.css" %}" rel="stylesheet">
  <link href="{% static "css/plugins/jquery-cron.css" %}" rel="stylesheet">
  <style>
    .cronselector {
      border-bottom: none !important;
    }
  </style>
{% endblock %}
{% block title %}CONFORMITY{% endblock %}
{% block content %}
  <div class="block-header">
    <h2>CONFORMITY</h2>
  </div>
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            HIGHSTATE
            <small>Highstate conformity schedule can be managed on the schedule view.</small>
          </h2>
        </div>
        <div class="body">
          <p class="p-b-10">
            Highstate conformity will run <code>state.apply test=True</code> on selected targets.
            You can use salt targeting syntax, e.g: <code>-G 'os:Fedora'</code>.
          </p>
          <form>
            <div class="row clearfix">
              <div class="col-lg-3">
                <div class="form-group form-float">
                  <div class="form-line">
                    <input type="text" class="form-control" id="target">
                    <label class="form-label">Targets:
                      <small> '*' by default</small>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group form-float">
                  <div class="form-line cronselector">
                    <div id='cronSelector'></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <button type="button" class="btn btn-lg btn-primary waves-effect m-l-20" id="highstateConformity">
                  SUBMIT
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            CUSTOM
          </h2>
        </div>
        <div class="body">
          <h2 class="card-inside-title">
            Custom Conformity
            <small>Parsed functions from minions job history.
            </small>
          </h2>
          <div class="row clearfix">
            {% for field in conformity_fields %}
              <div class="col-md-12">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 form-control-label">
                  <label>{{ field.name }}</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 form-control-label">
                  <label><code>{{ field.function }}</code></label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-danger btn-lg m-l-15 waves-effect" value="{{ field.name }}"
                          name="fieldDelete">DELETE
                  </button>
                </div>
              </div>
            {% endfor %}
          </div>
          <form id="field_form">
            {% csrf_token %}
            <div class="row clearfix">
              <div class="col-md-12">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                  <div class="form-group">
                    <div class="form-line">
                      <input spellcheck="false" class="form-control" name="function" type="text"
                             list="functions"
                             placeholder="Function"/>
                      <datalist id="functions">
                        {% for function in function_list %}
                          <option value="{{ function }}">{{ function }}
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect" id="fieldCreate">SUBMIT
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static "bootstrap-notify/bootstrap-notify.min.js" %}"></script>
  <script src="{% static "js/notifications.js" %}"></script>
  <script src="{% static "js/plugins/jquery-cron-min.js" %}"></script>
  <script src="{% static "flatpickr/dist/flatpickr.min.js" %}"></script>
  <script>
    $('.flatpickr').flatpickr({
      enableTime: true,
      noCalendar: true,
      dateFormat: 'H:i',
      time_24hr: true
    });
    let cronField = $('#cronSelector').cron({
      initial: '0 0 * * *',
      customValues: {
        'half hour': '*/30 * * * *'
      }
    });
  </script>
  <script src="{% static "js/src/conformity.js" %}"></script>
{% endblock %}
