{% extends 'base.html' %}
{% load static %}
{% load is_dict %}
{% block title %}CONFORMITY DETAIL{% endblock %}
{% block content %}
  <div class="block-header">
    <h2>CONFORMITY DETAIL</h2>
  </div>

  <!-- Basic Examples -->
  <div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            {{ minion_id }}
          </h2>
        </div>
        <div class="body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>DETAILS</th>
            </tr>
            </thead>
            <tbody>
            {% if custom_conformity %}
            {% for conformity in custom_conformity %}
              {% for key, value in conformity.items %}
                <tr>
                  <td>{{ key|upper }}</td>
                  {% if value is None %}
                    <td class="text-right"><span class="label bg-blue-grey">UNKNOWN</span></td>
                  {% else %}
                    <td class="text-right">{{ value }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            {% endfor %}
            {% endif %}
            <tr>
              <td>CONFORMITY</td>
              {% if conformity is None %}
                <td class="text-right"><span class="label bg-blue-grey">UNKNOWN</span></td>
              {% elif conformity is True %}
                <td class="text-right"><span class="label bg-green">CONFORM</span></td>
              {% elif conformity is False %}
                <td class="text-right"><span class="label bg-red">CONFLICT</span></td>
              {% endif %}
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Raw result -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            HIGHSTATE CONFORMITY
          </h2>
        </div>
        <div class="body">
          <div class="panel-group" role="tablist" aria-multiselectable="true">

            <div class="panel" id="panelTemplate" style="display: none;">
              <div class="panel-heading" role="tab" id="headingOne_2">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" href="#collapseOne_2"
                     aria-expanded="false" aria-controls="collapseOne_2" class="col-green">
                    Collapsible Group Item #1
                  </a>
                </h4>
              </div>
              <div id="collapseOne_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_2">
                <div class="panel-body">
                  <div class="ansiStyle"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block fab %}
  <div class="fab round bg-blue-grey" id="fab3" data-tooltip="Rerun job on {{ job.id }}"
       onclick="location.href='/run?tgt={{ job.id }}&fun=
           {{ job.fun }}{% for i in job.fun_args %}{% if i|is_dict %}{% for k, v in i.items %}&{{ k }}={{ v }}{% endfor %}{% else %}&args={{ i }}{% endif %}{% endfor %}'">
    <i class="material-icons">playlist_play</i>
  </div>
{% endblock %}
{% block js %}
  <script>
    let succeeded = {{ succeeded|safe }};
    let unchanged = {{ unchanged|safe }};
    let failed = {{ failed|safe }};
  </script>
  <script src="{% static "js/src/conformity_detail.js" %}"></script>
{% endblock %}