{% load static %}
<!-- Jquery DataTable Plugin Js -->
<script src="{% static "datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
<script src="{% static "datatables.net-buttons/js/buttons.colVis.min.js" %}"></script>
<script src="{% static "datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
<script src="{% static "datatables.net-buttons/js/buttons.print.min.js" %}"></script>
