{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link href="{% static 'css/pages/index.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}OVERVIEW{% endblock %}
{% block content %}
  <div class="block-header">
    <h2>OVERVIEW</h2>
  </div>
  <div class="row clearfix">
    <!-- Pie Chart -->
    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 fitbox">
      <div class="card">
        <div class="header">
          <h2>CONFORMITY</h2>
        </div>
        <div class="body">
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="donutCharts">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Pie Chart -->

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 fitbox">
      <div class="card">
        <div class="header">
          <h2>KEYS</h2>
        </div>
        <div class="body table-responsive" style="padding-left: 10px;padding-right: 10px">
          <table class="table">
            <thead>
            <tr>
              <td><i class="material-icons">check</i><span> ACCEPTED</span></td>
              <td class="align-right">
                {{ keys_status.accepted|default:"0" }} / {{ total_keys }}
              </td>
            </tr>
            <tr>
              <td><i class="material-icons">first_page</i><span> REJECTED</span></td>
              <td class="align-right">
                {{ keys_status.rejected|default:"0" }} / {{ total_keys }}
              </td>
            </tr>
            <tr>
              <td><i class="material-icons">close</i><span> DENIED</span></td>
              <td class="align-right">
                {{ keys_status.denied|default:"0" }} / {{ total_keys }}
              </td>
            </tr>
            <tr>
              <td><i class="material-icons">refresh</i><span> UNACCEPTED</span></td>
              <td class="align-right">
                {{ keys_status.unaccepted|default:"0" }} / {{ total_keys }}
              </td>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 fitbox">
      <div class="card">
        <div class="header">
          <h2>STATUS</h2>
        </div>
        <div class="body table-responsive">
          <table class="table">
            <thead>
            <tr>
              <td>SALT WEB SOCKET</td>
              <td id="saltMasterWs" class="align-right"><span class="label bg-red">NOT OK</span></td>
            </tr>
            <tr>
              <td>JOBS IN DB</td>
              <td class="align-right">{{ jobs_nb }}</td>
            </tr>
            <tr>
              <td>EVENTS IN DB</td>
              <td class="align-right">{{ events_nb }}</td>
            </tr>
            <tr>
              <td>JOBS SCHEDULED</td>
              <td class="align-right">{{ schedules_nb }}</td>
            </tr>
            <tr>
              <td>JOBS RUNNING</td>
              <td class="align-right" id="running_jobs">0</td>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <!-- #END# Task Info -->
  </div>
  <!-- Graph -->
  <div class="row clearfix">
    <!-- Real time -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="rte" style="display: none">
      <div class="card">
        <div class="header">
          <h2>REAL TIME EVENTS</h2>
        </div>
        <div class="body">
          <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
              <div class="panel-group full-body" id="rteBody" role="tablist" aria-multiselectable="true">

                <div class="panel" id="panelTemplate" style="display: none;">
                  <div class="panel-heading" role="tab" id="headingTemplate">
                    <h4 class="panel-title">
                      <a id="btnTemplate" role="button" data-toggle="collapse" href="#collapseTemplate"
                         aria-expanded="false" aria-controls="collapseTemplate">
                        <div class="row clearfix" id="titleTemplate">
                        </div>
                      </a>
                    </h4>
                  </div>

                  <div id="collapseTemplate" class="panel-collapse collapse in" role="tabpanel"
                       aria-labelledby="headingTemplate">
                    <div class="panel-body">
                      <label for="eventRet"></label><textarea id="eventRet"></textarea>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {% include 'template_chart.html' %}
    </div>
  </div>
  <!-- #END# Graph -->
  <div class="row clearfix">
    <!-- last jobs -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header">
          <h2>LAST JOBS</h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-striped table-hover dataTable js-exportable" style="width:100%">
              <thead>
              <tr>
                <th>ID</th>
                <th>Target</th>
                <th>Function</th>
                <th>Arguments</th>
                <th>User</th>
                <th>Status</th>
                <th>Start Time</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Task Info -->
  </div>
{% endblock %}
{% block fab %}
  <div class="fab round bg-blue" id="fab4" data-tooltip="Refresh All Minions" onclick="manageMinion('refresh', '*')">
    <i class="material-icons">refresh</i>
  </div>
  <div class="fab round bg-purple" id="fab3" data-tooltip="Refresh Keys" onclick="refreshKeys()">
    <i class="material-icons">compare_arrows</i>
  </div>
{% endblock %}
{% block js %}
  <script>
    let conformity = {{ conformity|safe }};
    let conformityName = {{ conformity_name|safe }};
    let totalMinions = {{ total_minions }};
  </script>
  <script src="{% static "js/job-chart.js" %}"></script>
  <script src="{% static 'js/src/index.js' %}"></script>
{% endblock %}
