{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link href="{% static "css/plugins/jquery-cron.css" %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.2.0/css/jquery.terminal.min.css"
        rel="stylesheet"/>
  <!-- JQuery DataTable Css -->
  <style>
    .terminal {
      --color: #f8f8f8;
      --background: #171722;
      --animation: terminal-underline;
      --size: 1.5;
      /* better then return false in onBlur */
      height: 100vh;
      margin: 0; /* body margin */
    }
  </style>
{% endblock %}
{% block title %}RUN{% endblock %}
{% block content %}
  <div class="block-header">
    <h2>RUN</h2>
  </div>

  <!-- Advanced Select -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            RUN
          </h2>
        </div>
        <div class="body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tab-nav-right tab-col-black" role="tablist">
            <li role="presentation" class="active"><a href="#formatted" data-toggle="tab">FORMATTED</a></li>
            <li role="presentation"><a href="#raw" data-toggle="tab">CLI</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="formatted" style="margin-top: 20px">

              <form id="salt-run">
                {% csrf_token %}
                <div class="col-md-12">
                  <div class="row clearfix">
                    <div class="col-lg-1 col-md-2 col-sm-4 col-xs-5 form-control-label">
                      <p>
                        <b>Client Type</b>
                        <button type="button" class="btn bg-black btn-xs waves-effect pull-right" data-trigger="focus"
                                data-container="body" data-toggle="popover"
                                data-placement="top" title="Client Type" data-html="true"
                                data-content="<pre>Choose between a local, runner, or wheel client<br><br><b>Local:</b> Default client<br><b>Runner:</b> Master side execution sequences<br><b>Wheel:</b> Master side management routines</pre>">
                          ?
                        </button>
                      </p>
                    </div>
                    <div class="col-lg-1 col-md-10 col-sm-8 col-xs-7">
                      <div class="form-group">
                        <div class="form-line">
                          <select id="client" title="client" name="client"
                                  class="form-control show-tick">
                            <option value="local" selected>Local</option>
                            <option value="runner">Runner</option>
                            <option value="wheel">Wheel</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row clearfix" id="mainRow">
                  <div class="col-md-12">
                    <div id="salt-target">
                      <div class="col-lg-1">
                        <p>
                          <b>Target Type</b>
                          <button type="button" class="btn bg-black btn-xs waves-effect pull-right" data-trigger="focus"
                                  data-container="body" data-toggle="popover"
                                  data-placement="top" title="Popover Title"
                                  data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">?
                          </button>
                        </p>
                        <div class="form-group">
                          <div class="form-line">
                            <select id="target-type" title="target-type" name="target-type"
                                    class="form-control show-tick">
                              <option value="single" selected>Single</option>
                              <option value="group">Group</option>
                              <option value="custom">Custom</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <p>
                          <b>Target</b>
                        </p>
                        <div class="form-group">
                          <div class="form-line">
                            <input spellcheck="false" class="form-control" id="minion_list" name="minion_list"
                                   type="text"
                                   list="minions"
                                   placeholder="Target"/>
                            <datalist id="minions">
                              {% for minion in minion_list %}
                                <option value="{{ minion }}">{{ minion }}
                              {% endfor %}
                            </datalist>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <p>
                        <b>Function</b>
                        <button type="button" class="btn bg-black btn-xs waves-effect pull-right" data-trigger="focus"
                                data-container="body" data-toggle="popover" id="funct_tooltip"
                                data-placement="bottom" data-original-title="Popover Title" data-html="true"
                                data-content="<pre></pre>" style="display: none">?
                        </button>
                      </p>
                      <div class="form-group">
                        <div class="form-line">
                          <input spellcheck="false" class="form-control" id="function_list" name="function_list"
                                 type="text"
                                 list="client_function"
                                 placeholder="Function"/>
                          <datalist id="client_function">
                            {% for function in local_list %}
                              <option value="{{ function }}">{{ function }}
                            {% endfor %}
                          </datalist>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <p>
                        <b>Args</b>
                      </p>
                      <div class="form-group">
                        <div class="form-line" style="display: flex; flex-direction: row">
                          <input title="args" id="args" name="args" type="text" class="form-control"
                                 placeholder="Args"/>
                          <button type="button" class="btn btn-xs bg-blue-grey" onclick="addArgs()">
                            <i class="material-icons">add</i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 p-r-0">
                      <p>
                        <b>Keyword</b>
                      </p>
                      <div class="form-group">
                        <div class="form-line">
                          <input title="keyword" id="keyword" name="keyword" type="text" class="form-control p-r-0"
                                 placeholder="Keyword"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 p-l-0">
                      <p>
                        <b>Argument</b>
                      </p>
                      <div class="form-group">
                        <div class="form-line" style="display: flex; flex-direction: row">
                          <input title="argument" id="argument" name="argument" type="text" class="form-control p-l-0"
                                 placeholder="Argument"/>
                          <button type="button" class="btn btn-xs bg-blue-grey" onclick="addArgs()">
                            <i class="material-icons">add</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-12">
                    <h2 class="card-inside-title">Schedule</h2>
                    <div class="demo-switch">
                      <div class="switch">
                        <label>OFF<input type="checkbox" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample" name="schedule-sw" id="schedule-sw"><span class="lever"></span>ON</label>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample">
                      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="input-group">
                          <div class="form-group" style="margin-bottom: 0">
                            <div class="form-line" style="margin-bottom: 0">
                              <input name="group1" type="radio" id="radio_1" checked/>
                              <label for="radio_1">Recurrent</label>
                              <input name="group1" type="radio" id="radio_2"/>
                              <label for="radio_2">Once</label>
                              <div class="form-line cronselector" id="cronSchedule">
                                <div id='cronSelector'></div>
                              </div>
                              <div id="dateSchedule" style="display: none">
                                <input title="schedule" name="schedule" class="flatpickr flatpickr-input form-control"
                                       type="text" placeholder="Select DateTime.">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-md-12">
                    <div class="button-demo pull-right">
                      <button id="test" type="button" value="test" class="btn btn-lg btn-warning waves-effect">TEST
                      </button>
                      <button id="run" type="button" value="run" class="btn btn-lg btn-primary waves-effect">RUN
                      </button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="raw">
              <div id="terminal"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Advanced Select -->
  <div class="row clearfix" id="results" style="display: none">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            RESULT
          </h2>
          <ul class="header-dropdown m-r--5">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href="javascript:void(0);">Action</a></li>
                <li><a href="javascript:void(0);">Another action</a></li>
                <li><a href="javascript:void(0);">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="body">
          <div id="ansiResults" class="ansiStyle"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let nodeGroups = {{ nodegroups|safe }};
    let getParams = {{ get_params|safe }};
    let minions = [{% for i in minion_list %}'{{ i }}', {% endfor %}];
    let localFunc = {{ local_list|safe }};
    let wheelFunc = {{ wheel_list|safe }};
    let runnerFunc = {{ runner_list|safe }};
  </script>
  <!-- #END# Advanced Select -->
{% endblock %}
{% block js %}
  <script src="{% static "js/plugins/jquery-cron-min.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.2.0/js/jquery.terminal.min.js"></script>
  <script src="{% static "js/src/run.js" %}"></script>
{% endblock %}