{% extends 'base.html' %}
{% load static %}
{% block title %}RUNNER{% endblock %}
{% block content %}
  <div class="block-header">
    <h2>RUNNER</h2>
  </div>

  <!-- Advanced Select -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            Run a job on the local Master
            <small>Master-side execution sequences
            </small>
          </h2>
        </div>
        <div class="body">
          <form method="post" id="salt-run">
            {% csrf_token %}
            <div class="row clearfix">
              {% include 'template_run.html' %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Advanced Select -->
  <div class="row clearfix" id="results" style="display: none">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            RESULT
          </h2>
        </div>
        <div class="body">
          <div id="ansiResults" class="ansiStyle"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    var nodeGroups = {{ nodegroups|safe }};
  </script>
  <script>
    $('.flatpickr').flatpickr({
      enableTime: true,
      minDate: "today",

    });
  </script>
  <script src="{% static "js/src/runner.js" %}"></script>
{% endblock %}