{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link href="{% static "css/plugins/jquery-cron.css" %}" rel="stylesheet">
{% endblock %}
{% block title %}SCHEDULE{% endblock %}
{% block content %}
  <div class="block-header">
    <h2>SCHEDULE</h2>
  </div>
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            ADD SCHEDULE
          </h2>
        </div>
        <div class="body">
          <h2 class="card-inside-title">
                Highstate Conformity
                <small>
                  Highstate conformity will run <code>state.apply test=True</code> on selected targets.
                  You can use salt targeting syntax, e.g: <code>-G 'os:Fedora'</code>.
                </small>
              </h2>
          <form>
            <div class="row clearfix">
              <div class="col-lg-3">
                <div class="form-group form-float">
                  <div class="form-line">
                    <input type="text" class="form-control" id="target">
                    <label class="form-label">Targets:
                      <small> '*' by default</small>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group form-float">
                  <div class="form-line cronselector">
                    <div id='cronSelector'></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <button type="button" class="btn btn-lg btn-primary waves-effect m-l-20" id="highstateConformity">
                  SUBMIT
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="table-responsive">
            <table class="table table-striped table-hover dataTable js-exportable">
              <thead>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="defaultModalLabel">Choose Minion target</h4>
        </div>
        <div class="modal-body">
          If you delete minions data, you'll have to refresh minions
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect">DELETE</button>
          <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block fab %}
  <div class="fab round bg-blue" id="fab4" data-tooltip="Refresh schedules"
       onclick="manageSchedule('refresh')">
    <i class="material-icons">refresh</i>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static "js/plugins/jquery-cron-min.js" %}"></script>
  <script src="{% static "js/src/schedule.js" %}"></script>
{% endblock %}
