{% extends 'base.html' %}
{% load static %}
{% block title %}SETTINGS{% endblock %}
{% block content %}
  <div class="block-header">
    <h2>SETTINGS</h2>
  </div>
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            GENERAL SETTINGS
          </h2>
        </div>
        <div class="body">
          <h2 class="card-inside-title">
            Parse modules
            <small>This will run <code>sys.list_functions</code>, <code>sys.doc</code>,
              <code>sys.list_runner_functions</code> and <code>sys.runner_doc</code> on selected target. It will also
              run <code>doc.wheel</code> on the connected salt master.
            </small>
          </h2>
          <form id="general_form">
            <div class="row clearfix">
              <div class="col-md-12">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 form-control-label">
                  <label for="minion_list">Parse modules from:</label>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6">
                  <div class="form-group">
                    <div class="form-line">
                      <input spellcheck="false" class="form-control" name="minions" type="text"
                             list="minions"
                             placeholder="Target"/>
                      <datalist id="minions">
                        {% for minion in minion_list %}
                          <option value="{{ minion }}">{{ minion }}
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-warning btn-lg waves-effect" id="init_db" disabled>
                    SUBMIT
                  </button>
                </div>
              </div>
            </div>
          </form>
          <h2 class="card-inside-title">
            Minions Fields
            <small>Fields added to Minions details.
            </small>
          </h2>
          <div class="row clearfix">
            {% for field in minion_fields %}
              <div class="col-md-12">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 form-control-label">
                  <label>{{ field.name }}</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 form-control-label">
                  <label><code>{{ field.function }}</code></label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-danger btn-lg waves-effect" value="{{ field.name }}"
                          name="fieldDelete">DELETE
                  </button>
                </div>
              </div>
            {% endfor %}
          </div>
          <form id="field_form">
            {% csrf_token %}
            <div class="row clearfix">
              <div class="col-md-12">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                  <div class="form-group">
                    <div class="form-line">
                      <input spellcheck="false" class="form-control" name="function" type="text"
                             list="functions"
                             placeholder="Function"/>
                      <datalist id="functions">
                        {% for function in function_list %}
                          <option value="{{ function }}">{{ function }}
                        {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-primary btn-lg waves-effect" id="fieldCreate">SUBMIT
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            USER SETTINGS
          </h2>
        </div>
        <div class="body">
          <form id="user_form">
            {% csrf_token %}
            <div class="row clearfix">
              <div class="col-md-4">
                <h2 class="card-inside-title m-l-10">
                  Job Notifications
                  <small>
                    Salt's event stream is very busy and can easily overwhelm the available memory for a browser tab.
                    This control both notifications and real-time events on the overview page.
                  </small>
                </h2>
                <div class="demo-switch">
                  {% for status, bool in notifs.items %}
                    <div class="col-sm-12">
                      <div class="demo-switch-title">{{ status|upper }}</div>
                      <div class="switch">
                        <label for="{{ status }}"><input type="checkbox" name="{{ status }}" id="{{ status }}"
                            {% if bool %} checked{% endif %}><span class="lever"></span></label>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="row clearfix">
                  <div class="col-sm-3 col-sm-offset-9">
                    <button type="button" class="btn btn-lg btn-primary waves-effect" name="notifs" id="userBtn">
                      SUBMIT
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block js %}
  <script>
    let token = '{{ csrf_token }}';
  </script>
  <script src="{% static "js/notifications.js" %}"></script>
  <script src="{% static "js/src/settings.js" %}"></script>
{% endblock %}