<div class="card">
  <div class="header">
    <div class="row clearfix">
      <div class="col-xs-3 col-md-3 col-lg-6">
        <h2>JOBS STATS</h2>
      </div>
      <div class="col-xs-3 col-md-4 col-lg-3 text-right">
        <span class="m-r-10 font-12">FILTER</span>
        <select id="filter" class="show-tick" onchange="updateGraph()" data-width="fit">
          <option value="all">ALL</option>
          <option value="highstate">HIGHSTATE</option>
          <option value="other">OTHER</option>
        </select>
      </div>
      <div class="col-xs-6 col-md-5 col-lg-3 text-center">
        <span class="m-r-10 font-12">PERIOD</span>
        <select id="period" class="show-tick" onchange="updateGraph()" data-width="fit">
          <option value="7">PAST WEEK</option>
          <option value="15">PAST TWO WEEKS</option>
          <option value="30">PAST MONTH</option>
        </select>
      </div>
    </div>
  </div>
  <div class="body">
    <canvas id="jobChart" height="76"></canvas>
  </div>
</div>