<div class="col-lg-3">
  <p>
    <b>Function</b>
    <button type="button" class="btn bg-black btn-xs waves-effect pull-right" data-trigger="focus"
            data-container="body" data-toggle="popover" id="funct_tooltip"
            data-placement="bottom" data-original-title="Popover Title" data-html="true"
            data-content="<pre></pre>" style="display: none">?
    </button>
  </p>
  <div class="form-group">
    <div class="form-line">
      <input spellcheck="false" class="form-control" id="function_list" name="function_list" type="text"
             list="function"
             placeholder="Function"/>
      <datalist id="function">
        {% for function in funct_list %}
          <option value="{{ function }}">{{ function }}
        {% endfor %}
      </datalist>
    </div>
  </div>
</div>
<div class="col-lg-2">
  <p>
    <b>Args</b>
  </p>
  <div class="form-group">
    <div class="form-line" style="display: flex; flex-direction: row">
      <input title="args" id="args" name="args" type="text" class="form-control" placeholder="Args"/>
      <button type="button" class="btn btn-xs bg-blue-grey" onclick="addArgs()">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
</div>
<div class="col-lg-2 p-r-0">
  <p>
    <b>Keyword</b>
  </p>
  <div class="form-group">
    <div class="form-line">
      <input title="keyword" id="keyword" name="keyword" type="text" class="form-control p-r-0"
             placeholder="Keyword"/>
    </div>
  </div>
</div>
<div class="col-lg-2 p-l-0">
  <p>
    <b>Argument</b>
  </p>
  <div class="form-group">
    <div class="form-line" style="display: flex; flex-direction: row">
      <input title="argument" id="argument" name="argument" type="text" class="form-control p-l-0"
             placeholder="Argument"/>
      <button type="button" class="btn btn-xs bg-blue-grey" onclick="addArgs()">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
</div>
</div>
<div class="row clearfix">
  <div class="col-md-12">
    <button class="btn bg-blue-grey waves-effect m-b-15" type="button" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample">
      <i class="material-icons">schedule</i><span>SCHEDULE</span>
    </button>
    <div class="collapse" id="collapseExample">

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="input-group">
          <div class="form-group" style="margin-bottom: 0">
            <div class="form-line" style="margin-bottom: 0">
              <input title="schedule" name="schedule" class="flatpickr flatpickr-input form-control"
                     type="text" placeholder="Select DateTime.">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-12">
    <div class="button-demo pull-right">
      <button id="test" type="submit" value="test" class="btn btn-lg btn-warning waves-effect">TEST</button>
      <button id="run" type="submit" value="run" class="btn btn-lg btn-primary waves-effect">RUN</button>
    </div>
  </div>
</div>