{% extends 'base.html' %}
{% load static %}
{% load getattribute %}
{% block title %}USERS{% endblock %}
{% block content %}
  <div class="block-header">
    <h2>USERS</h2>
  </div>
  <!-- Basic Examples -->
  <div class="row clearfix">
    <div id="crud-user">
      {% include 'template_users.html' %}
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <i class="material-icons" style="vertical-align: bottom">format_list_bulleted</i>
          <span>USERS</span>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-striped table-hover dataTable js-exportable" style="width:100%">
              <thead>
              <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Token</th>
                <th>Salt Permissions</th>
                <th>Last Login</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="showToken" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          If you delete minions data, you'll have to refresh minions
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" id="closeModal">CLOSE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="defaultModalLabel">Delete Minion data?</h4>
        </div>
        <div class="modal-body">
          This action is irreversible.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect" id="deleteUserBtn">DELETE</button>
          <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" id="closedeleteUserModal">CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    let currentUser = '{{ request.user.username }}';
  </script>
  <script src="{% static "js/src/users.js" %}"></script>
{% endblock %}
